#app-whatsapp{
    position: fixed;
    left: 24px;
    bottom: 25px;
    width: 60px;
    z-index: 1000;
    display: none;
}
#app-whatsapp{
    bottom: 25px;
    display: block;
}
#app-whatsapp2{
    position: fixed;
    left: 24px;
    bottom: 25px;
    width: 60px;
    z-index: 1000;
    display: none;
}
#app-whatsapp2{
    bottom: 65px;
    display: block;
}
#app-whatsapp2{
    bottom: 65px;
    display: block;
}
#app-whatsapp i{
    font-size: 43px;
}
#app-whatsapp i{
    color: #01e675;
}
#app-whatsapp2 i{
    font-size: 43px;
}
#app-whatsapp2 i{
    color: #01e675;
}


a.tooltip span {
display:none;
padding:10px 15px 10px 15px;
margin-left:8px; 
width:12em; /*el ancho del tooltip*/
}
a.tooltip:hover span {
display: inline; 
position: absolute; /* posición del tooltip necesaria y obligatoria*/
background: #01e675 ; /*el color del fondo del tooltip*/
border-radius: 5px;
border: 1px solid #c6dcf0; /*el color del borde y su estilo*/
color: #FFFFFF;  /*el color de la letra del tooltip*/
font-size: 18px;  /*el tamaño de la letra*/
line-height: 120%;  /*la separación entre lineas*/
}        